@tailwind base;
@tailwind components;
@tailwind utilities;
/* ADD THIS TO THE BOTTOM */
.grecaptcha-badge { 
  visibility: visible !important;
  z-index: 2147483647 !important; /* Max integer value to sit on top of everything */
  position: fixed !important;
}