@tailwind base;
@tailwind components;
@tailwind utilities;
/* Force Google reCAPTCHA Badge to visible and top layer */
.grecaptcha-badge { 
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2147483647 !important; /* Max integer value */
  position: fixed !important;
  display: block !important; /* Ensure it's not set to none */
}